server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8081/eureka

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: helloWorld
          uri: lb://hello-world
          predicates:
            - Path=/hello/**