spring:
  application:
    name: hello-world

server:
  port:  0

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8081/eureka
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

management:
  endpoints:
    web:
      exposure:
        include: shutdown, info , health

  endpoint:
    shutdown:
      enabled: true
