spring:
  application:
    name: load-balancing-gateway
  cloud:
    loadbalancer:
      ribbon:
        enabled: false

server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8081/eureka
    fetch-registry: true

zuul:
  routes:
    helloWorld:
      serviceId: hello-world
      stripPrefix: false
      path: /hello/**
    helloWorldShutdown:
      serviceId: hello-world
      stripPrefix: false
      path: /actuator/shutdown/**