server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8081/eureka
    fetch-registry: true

spring:
  application:
    name: load-balancing-gateway

zuul:
  routes:
    helloWorldHello:
      serviceId: hello-world
      stripPrefix: true
      path: /hello/**

    helloWorldShutdown:
      serviceId: hello-world
      stripPrefix: true
      path: /actuator/shutdown
